.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game-layout {

  display: flex;
  flex-direction: row;
}

.game-column {

  display: flex;
  flex-direction: column;
}

.step-column {

  display: flex;
  flex-direction: column;
}

.game-board {

  border: 1px solid #000;
  max-width: 373px;
}

.tile {

  float: left;
  height: 45px;
  width: 45px;
  border: 1px solid #000;
  text-align: center;
  line-height: 45px;

}

#plant {

  background-color: #1F0;
}

#water {

  background-color: #2EF;
}

#plantandwater {

  background-color: #0C9;
}

.select-row {

  border: 1px solid #F00;
  max-width: 373px;
}

.selector {

  float: left;
  height: 45px;
  width: 45px;
  border: 1px solid #F00;
  text-align: center;
  line-height: 45px;
}

.history {

  border: 2px solid #0F0;
  width: 147px;
  height: 344px;
  float: left;
  text-align: center;
  line-height: 45px;
}

.play {

  border: 2px solid #00F;
  width: 147px;
  height: 72px;
  float: left;
  text-align: center;
  line-height: 45px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
